<h4 class="font-weight-bold">Earnings</h4>
<div class="table-responsive">
  <table class="table table-sm  table-borderless ">
    <thead class=" border-bottom">
      <tr class="text-muted text-center">
        <th  class="px-xs-2 p-md-0" scope="col">Symbol</th>
        <th  class="px-xs-2 p-md-0" scope="col">Company</th>
        <th  class="px-xs-2 p-md-0" scope="col">Fiscal Period</th>
        <th  class="px-xs-2 p-md-0" scope="col">Consensus Estimate EPS</th>
        <th  class="px-xs-2 p-md-0" scope="col">Actual EPS</th>
        <th  class="px-xs-2 p-md-0" scope="col">Suprise</th>
        <th  class="px-xs-2 p-md-0" scope="col">EPS, Year Ago</th>
        <th  class="px-xs-2 p-md-0" scope="col">%Change From Last Year</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>