<div class="container-fluid" style="padding: 20px 6vw;">
  <h5 class="text-muted text-uppercase">Market View</h5>
  <Stocks></Stocks>
  <section>
    <div class="row mt-5">
      <Highlights class="col-md-8"></Highlights>
      <Watchlist class="col-md-4"></Watchlist>
    </div>
  </section>
  <section class="mt-5">
    <Dividends></Dividends>
  </section>
  <section class="mt-5">
    <Earnings></Earnings>
  </section>
  <section class="mt-5">
    <SectorPerformance></SectorPerformance>
  </section>
</div>

